Repository Sustainovate/sustainovate-Web-Api, pull requests merged in 2025-08, with the labels that each got.

#1 feat: initial repo structure and templates
  .dockerignore
  .env.example
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/deploy.yml
  .github/workflows/test.yml
  .gitignore
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  LICENSE
  SECURITY.md
  docker-compose.yml
Labels: documentation, enhancement

#4 Initialize backend base with Node.js, Express, MongoDB, Mongoose, Redis, RabbitMq and dotenv configuration
  .env.example
  .eslintrc.json
  .prettierrc
  apps/api/Dockerfile
  apps/api/package.json
  apps/api/src/index.ts
  apps/api/tsconfig.json
  docker-compose.yml
  package.json
  services/export/package.json
  services/export/src/index.ts
  services/jobs/package.json
  services/jobs/src/worker.ts
  services/jobs/test.ts
  shared/config/db.ts
  shared/config/dotenv-loader.ts
  shared/config/redis.ts
  shared/package.json
  shared/schemas/User.ts
  shared/schemas/test.ts
  shared/tsconfig.json
  tsconfig.base.json
Labels: enhancement

#8 feat: Add Discord OAuth2 authentication and user management
  .env.example
  README.md
  apps/api/package.json
  apps/api/src/config/passport.ts
  apps/api/src/index.ts
  apps/api/src/middleware/auth.ts
  apps/api/src/middleware/rateLimiter.ts
  apps/api/src/routes/auth.ts
  apps/api/src/utils/jwt.ts
  docs/DISCORD_AUTH.md
  package.json
  packages/shared/src/config/db.ts
  packages/shared/src/config/redis.ts
  packages/shared/src/schemas/User.ts
  scripts/setup-dev.mjs
Labels: auth

#9 Added github oAuth
  .env.example
  README.md
  apps/api/src/config/passport.ts
  apps/api/src/routes/auth.ts
  apps/api/src/utils/jwt.ts
  docs/GITHUB_AUTH.md
  package.json
  packages/shared/src/schemas/User.ts
Labels: auth
